* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:
    Plus Jakarta Sans,
    sans-serif;
}

body {
  background-color: #e4ebfa;
}

/* Layout */
.app {
  display: flex;
  height: 100vh;
}
/* Logo */
.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 20px;
}

.logo img {
  width: 140px;
  height: auto;
  display: block;
}

/* Sidebar */
.sidebar {
  width: 260px;
  background: #ffffff;
  padding: 24px;
  border-right: 1px solid #e4e7ec;
}
